* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
  font-weight: bold;
}
.skip-link:focus {
  top: 0;
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

.main-header {
  background-color: lightskyblue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-header {
  min-height: 50px;
  padding-block: 20px;
  padding-inline: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background: linear-gradient(45deg, #F58529, #D62976, #8134AF, #515BD4, #4C68D7);
  border-bottom: 2px solid #f0f0f0;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #f0f0f0;
  transition: color 0.3s;
  font-family: 'Pacifico', cursive;
}

.brand-name:hover {
  color: #c6c6c6;
}

.navigation-drawer {
  min-height: 100vh;
  width: 220px;
  padding: 20px 15px;
  background-color: #fff;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 350ms ease-in-out;

  z-index: 9999;
}
#navigation-drawer a {
  color: #f0f0f0; 
  text-decoration: none; 
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  font-weight: bold;
  font-size: 28px;
  color: #141e16;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drawer-button:hover {
  background-color: #007bff;
  color: rgb(202, 80, 80);
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;

  display: block;
  
  color: #333;
  text-decoration: none;
}

#nav-list a:hover {
  text-decoration: underline;
}
.nav-list li button {
  padding: 6px 10px;
  display: block;

  color: #f0f0f0;
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font: inherit;
  cursor: pointer;
}

.nav-list li button:hover {
  text-decoration: underline;
}

/* MAIN */
.main-content {
  padding-block: 20px;
}
/* FORM LOGIN & REGISTER */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.container-login h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.container-register h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

#button-register,
#button-login {
  width: 100%;
  padding: 12px;
  background-color: #101010;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2e2e2e;
}

/* HOME */
.container-home {
  padding: 20px;
}

.container-home h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.story-container {
  width: 100%;
  max-width: 500px; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
}

.header-story {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.header-story img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.header-story h2 {
  font-size: 18px;
  margin: 0;
}
.header-story .see-location {
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #5b9603;
  background-color: #fff;
  border: 1px solid #5b9603; 
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header-story .see-location:hover {
  cursor: pointer;
  background-color: #5b9603;
  color: #fff;
}
.container-save-story h1{
  text-align: center;
  margin-bottom: 10px;
}
.save-story {
  border: 1px solid #ccc;
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #cdcd03;
  background-color: #fff;
  border: 1px solid #cdcd03; 
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.save-story:hover {
  cursor: pointer;
  background-color: #cdcd03;
  color: #fff;
}

.delete-story {
  background-color: #fff;
  border: 1px solid #e74c3c; 
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
  color: #e74c3c;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.delete-story:hover {
  background-color: #e74c3c;
  color: #fff;
}
.map-popup {
  position: fixed;  
  top: 25%;  
  left: 50%;  
  transform: translateX(-50%);  
  width: 25%;
  height: 300px;  
  background-color: white;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;  
  z-index: 1000;  
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.map-popup .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: #f0f0f0;
  border: none;
  padding: 5px;
  z-index: 1001;
}

figure {
  width: 100%;
  position: relative;
  margin: 0;
}

figure img {
  min-width: 250px;
  max-width: 450px;
  max-height: 500px;
  object-fit: fill;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

figcaption {
  padding: 8px;
  font-size: 14px;
  word-wrap: break-word;
  white-space: normal;
}
#story-footer {
  margin-top: 15px;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
  gap: 20px;
}

.pagination-btn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  min-width: 100px;
}

.pagination-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 16px;
  color: #555;
  line-height: 32px;
}

/* PROFILE */
.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  max-width: 300px;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-info {
  text-align: center;
}

/* NEW STORY */
.container-newstory {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container-newstory h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.newstory-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.newstory-form legend {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #555;
}

.form-new-story {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-new-story label {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #555;
}

.form-new-story input[type="file"],
.form-new-story textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.form-new-story textarea {
  resize: vertical;
}

#map {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #e0e0e0;
  
}

#open-camera-btn {
  padding: 0.75rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 1.5rem;
}

#open-camera-btn:hover {
  background-color: #45a049;
}

.video-container {
  display: none; 
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.video-container video {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.canvas-container {
  display: none; 
  width: 100%;
  height: auto;
  text-align: center;
}

.canvas-container canvas {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#snap {
  padding: 0.75rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

#snap:hover {
  background-color: #0056b3;
}

.form-new-story button[type="submit"] {
  padding: 0.75rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-new-story button[type="submit"]:hover {
  background-color: #3f3f3f;
}
/* NOT FOUND PAGE */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.not-found h1 {
  font-size: 6rem;
  color: #f44336;
}

.not-found p {
  font-size: 1.5rem;
  color: #555;
}

/* FOOTER */
#footer {
  background: linear-gradient(45deg, #F58529, #D62976, #8134AF, #515BD4, #4C68D7);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;

}

/* ANIMATION API */
.main-header {
  animation: slideDown 2s ease-in-out;
}
.brand-name {
  animation: slideIn 3s ease-in-out;
}
#nav-list {
  animation: slideOut 3s ease-in-out;
}
#stories {
  animation: slideUp 2s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
  
}
@keyframes slideOut {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
  
}
@keyframes slideDown {
  from {
    transform: translateY(-100%)
  }
  to {
    transform: translateY(0);
  }
  
}

@media screen and (max-width: 1000px) {
  #navigation-drawer a {
    color: #000000; 
    text-decoration: none; 
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  }
  #navigation-drawer button{
    color: #000000; 
  }
}
@media screen and (max-width: 800px) {
  #map-popup{
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  figure img{
    width: 80%;
  }
  #map-popup{
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  .container-newstory{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #newstory-form {
    width: 80%;
  }
  
  #newstory-form * {
    max-width: 100%;
    box-sizing: border-box;

  }
}
@media screen and (max-width: 350px) {
  .container-newstory{
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  #newstory-form {
    width: 100%;
  }
  
  #newstory-form * {
    max-width: 100%;
    box-sizing: border-box;

  }
}

@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;

    flex-direction: row;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .drawer-button {
    display: none;
  }
}

